.editor-mode-switcher {
    /* Position the switcher in the top left corner */
    top: 40px;
    padding: 8px;
    left: 40px;
    line-height: 1.5;

    /* Make text non-selectable */
    -webkit-user-select: none; /* Safari only supports user select using the -webkit prefix */
    user-select: none;
}
