/* General UI */

div.label-type-editor-ui {
    top: 150px;
    right: 40px;
    padding: 10px;
}

.label-type-editor-ui * {
    color: var(--color-foreground);
}

.label-type-editor-ui .codicon {
    vertical-align: middle;
}

.label-type-editor-ui hr {
    height: 1px;
    border: 0;
    background-color: var(--color-foreground);
}

.label-type-editor-ui button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

/* Label Types */

.label-type {
    padding-bottom: 5px;
}

.label-type-value,
.label-type-value-add {
    margin-left: 10px;
}

.label-type-name {
    font-size: 12pt;
}

/* This is the input field for the label type name */
.label-type-editor-ui input {
    background-color: transparent;
    outline: none;
    border: none;
}

/* Label Type value */
.label-type-value input {
    background-color: var(--color-background);
    text-align: center;
    border: 1px solid var(--color-foreground);
    border-radius: 15px;
    padding: 3px;
    margin: 4px;
}
