div.gdpr-filter-ui {
    padding: 10px;
    top: 150px;
    right: 40px;
    /* limit height so that max width has still 40px to bottom edge of the parent element
       100% is the full sprotty viewer height, 150px the space above the element,
       40px is the space that should be left under the editor and 2*10px is the padding */
    max-height: calc(100vh - 150px - 40px - 2 * 10px);
    overflow: auto; /* Show a scroll bar if content in the editor does not fully fit */
}

.gdpr-filter-ui .codicon {
    vertical-align: middle;
}
