.output-port-edit-ui {
    position: absolute;
    padding: 10px;

    -webkit-user-select: none;
    user-select: none;

    background: var(--color-primary);
}

.output-port-edit-ui div.available-inputs {
    padding-bottom: 5px;
}
