div.help-ui {
    left: 20px;
    bottom: 20px;
    padding: 10px 10px;
}

#help-ui-accordion-label .accordion-button::before {
    content: "";
    background-image: url("@fortawesome/fontawesome-free/svgs/regular/circle-question.svg");
    display: inline-block;
    filter: invert(var(--dark-mode));
    height: 16px;
    width: 16px;
    background-size: 16px 16px;
    vertical-align: text-top;
}
